@import 'parts/config';
@import 'parts/bootstrap';
@import 'parts/header';
@import 'parts/main';
@import 'parts/footer';
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');

body {
  font-family: 'Petit Formal Script', cursive;
  background-color: #fff;
  //margin: 0px;
  //padding: 0px;
  //color: #fff;

  .topoBranco {
    background-color: #fff;
    margin-top: 10px;
    border: none;
    .nav {
      li{
        a {
          //padding: -10px 10px;
          //margin: -5px;
          //margin-top: -8px;
          color: #000;
          padding-left: 6px;
          padding-right: 6px;


          &:hover {
            background-color: transparent;
            color: #55AFD9;
            text-decoration: underline;
          }
        }
        &.active {
          a {
            color: #55AFD9;
            background-color: transparent;
            text-decoration: underline;
            &:hover {
              background-color: transparent;
              color: #55AFD9;
            }
          }


        }
      }
    }
    .navbar-brand{
      background-color: transparent;
      height: auto;
      padding: 0!important;
    }


  }
  //** FraseSlider**
  .fraseSlider {
    .item {
      border-style: solid;
      border-width: 0px 0px 10px 0px;
      color: #026CC1;
      .carousel-caption {
        color: #55afd9;

        @media (min-width: 992px) {
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 24px!important;
          bottom: 326px;
          right: 0;
        }
        @media (max-width: 768px) {
          background-color: rgba(0, 0, 0, 0.5);
          color: #fff;
        }
      }

    }
  }
  //** FIM FRASESLIDER **

  .jumbotron  {
    .container h1 {
      text-decoration: underline;
      color: #026CC1;
    }

  .container h2 {
    text-decoration: underline;
    color: #026CC1;
  }
    .container p {
      font-family: "Open Sans";
    }
    .container a {
      font-family: 'Petit Formal Script', cursive;
    }


  }

  }


